.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}

.algolia{
  margin-bottom:1rem;
}

.input-group{
  margin-bottom: 1rem;
}
tbody {
  display: block;
  height: 25rem;
  overflow: scroll;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
