<div class="jumbotron text-center">
  <h1 class="display-3 justify-content-center">Tunes</h1>
  <p class="lead">
    This will be a list of all the tunes from a variety of sources, currently the only source is
    <a href="https://www.slippery-hill.com">Slippery-Hill.</a> Definitely go check out Slippery-Hill and donate to them.
  </p>
  <p>
    <b>
      Click on a tune below!!
    </b>
  </p>
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
  </div>
  <input #titleSearch type="text" class="form-control" placeholder="Search by anything!" (keyup)="searchByTitle(titleSearch.value)">
</div>

<div class="shadow">
  <table class="table table-hover">
    <thead class="thead-info">
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Key</th>
        <th>Tuning</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tune of tuneService.tunes | async" routerLink="/tune-details/{{tune.objectID}}">
        <td>{{tune.title}}</td>
        <td>{{tune.artist}}</td>
        <td>{{tune.musicalKey}}</td>
        <td>{{tune.tuning}}</td>
      </tr>
    </tbody>
  </table>
</div>